*, :root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    --primary-color: #168bfb;
    --secondary-color: #cae4fb;
}

body {
    min-height: 100vh;
    background: #f5f8fa;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.container__panel--1 {
    height: 100vh;
    width: 400px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.filter-options__wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.filter-option__select {
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.filter-option {
    padding: 20px 0;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.filter-options__section--2 .filter-option:hover {
    cursor: pointer;
    background: #edf5fc;
    border-radius: 7px;
}

.filter-options__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-divider {
    width: 100%;
    margin: 50px 0;
}

.container__panel--2 {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.backdrop {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

.searchbar {
    border: #333 solid 1px;
    background: #fff;
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.searchbar__icon {
    color: #ccc;
    font-size: 30px;
}

input {
    border: none;
    padding: 20px;
    font-size: 20px;
    outline: none;
}

textarea {
    outline: none;
    resize: none;
    border: none;
    padding: 20px;
    font-size: 16px;
    min-height: 600px;
}

.searchbar > input {
    flex: 1;
}

.highlight {
    font-weight: 500;
    font-size: 3rem;
}

.header {
    padding: 50px 0 50px 0;
    width: 90%;
}

.subtext {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    margin: 10px 0;
}

.logo {
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 3px;
    border-radius: 50%;
    margin-right: 5px;
}

hr {
    width: 100%;
    color: #dbdbdb;
}

.todo-list {
    width: 90%;
    min-width: 80%;
}

.todo {
    border-bottom: solid 1px #ccc;
    font-size: 1.2rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    outline: none;
    cursor: zoom-in;
    /* margin: 10px 0; */
    border-radius: 7px;
}

.todo__radio {
    background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');

    height: 40px;
    width: 40px;

    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

.todo__radio.checked {
    background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.trash-btn {
    padding: 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    /* background: var(--primary-color); */
}

.trash-btn:hover {
    background: var(--primary-color);
}

.completed:before {
    content: ''
}

.todo-options {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

.todo-option {
    display: flex;
    align-items: center;
}

.edit-window {
    z-index: 2;
    border-radius: 20px;
    border: 1px #333 solid;
    width: 65%;
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.completed {
    background: var(--primary-color);
    color: white;
    font-style: italic;
}

.completed .todo-content {
    text-decoration: line-through;
}

.todo-content {
    flex: 1;
    padding: 5px 20px;
}

.priority-indicator {
    font-size: 1.2rem;
    font-style: normal !important;
    font-weight: bold;
    width: 25px;
    text-align: center;
}

.priority-indicator.low {
    color: blue;
}

.priority-indicator.medium {
    color: orange;
}

.priority-indicator.high {
    color: red;
}

.category-indicator {
    font-size: 0.7rem;
    padding: 0.4rem;
    background: #dbdbdb;
    border-radius: 7px;
    color: #000;
    width: 50px;
    text-align: center;
    margin-right: 20px;
    font-style: normal !important;
    font-weight: bold;
}

.create-todo-btn {
    background: #fff;
    border: #333 solid 1px;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    bottom: 100px;
    right: 100px;
}
.create-todo-btn:hover {
    border: var(--primary-color) solid 1px;
    color: var(--primary-color);
    box-shadow: 5px 5px 5px #ccc;
}

.create-todos-btn__icon {
    padding: 10px;
}

.filter-todos-icon {
    padding: 10px;
}

.filter-option__icon {
    margin-right: 20px;
}

.filter-option--selected {
    background: #edf5fc;
    border-radius: 7px;
    transform: scale(1.1);
}

.clear-filter-btn {
    background: var(--primary-color);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.create-todo {
    z-index: 2;
    display: none;
    border-radius: 20px 20px 0 0;
    border: 1px #333 solid;
    width: 65%;
    background: white;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.create-todo-title {
    display: block;
    width: 100%;
    margin: 20px auto;
    font-weight: bold;
}

.create-todo-body {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.todo-option > select {
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons > div {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.save-btn {
    color: white;
    background: #007bff;
}

.discard-btn {
    color: white;
    background: #dc3545;
}