*, :root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    --primary-color: #FF6F00;
    --secondary-color: rgb(9, 182, 9);
}

body {
    min-height: 100vh;
    background: #eee;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

.searchbar {
    border: #333 solid 1px;
    background: #fff;
    border-radius: 7;
    margin-top: 50px;
    width: 50%;
    min-width: 50%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.icon-search {
    color: #ccc;
    font-size: 30px;
}

input {
    border: none;
    padding: 20px;
    font-size: 20px;
    outline: none;
}

textarea {
    outline: none;
    resize: none;
    border: none;
    padding: 20px;
    font-size: 16px;
    min-height: 600px;
}

.searchbar > input {
    flex: 1;
}

.todo-list {
    width: 50%;
    min-width: 50%;
    border: #333 solid 1px;
    background: #fff;
}

.todo {
    border-bottom: solid 1px black;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.todo-options {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

.todo-option {
    display: flex;
    align-items: center;
}

select {
    margin: 0 10px;
    outline: none;
    font-size: 16px;
}

.completed {
    background: rgb(75, 129, 232);
    color: white;
    font-style: italic;
}

.completed .todo-content {
    text-decoration: line-through;
}

.todo:hover {
    box-shadow: 5px 5px 10px;
}

.todo-content {
    flex: 1;
    padding: 0 20px;
}

.priority-indicator {
    font-size: 1.2rem;
    margin-right: 20px;
    font-style: normal !important;
    font-weight: bold;
}

.priority-indicator.low {
    color: blue;
}

.priority-indicator.medium {
    color: orange;
}

.priority-indicator.high {
    color: red;
}

.edit-btn, .trash-btn {
    padding: 0 10px;
    padding: 1rem;
    border: none;
}

.trash-btn {
    background: var(--primary-color);
}

.edit-btn {
    background: var(--secondary-color);
}

.todo:last-child {
    border: none;
}

.create-todo-button {
    background: #fff;
    border: #333 solid 1px;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    bottom: 100px;
    right: 100px;
}
.create-todo-button:hover {
    border: var(--primary-color) solid 1px;
    color: var(--primary-color);
    box-shadow: 5px 5px 5px #ccc;
}

.create-todos-icon {
    padding: 10px;
}

.filter-todos-button {
    background: #fff;
    border: #333 solid 1px;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    bottom: 100px;
    left: 100px;
}

.filter-todos-button:hover {
    border: var(--primary-color) solid 1px;
    color: var(--primary-color);
    box-shadow: 5px 5px 5px #ccc;
}

.filter-todos-icon {
    padding: 10px;
}

.filter-todos-dialog {
    z-index: 2;
    display: none;
    border-radius: 20px;
    border: 1px #333 solid;
    width: 400px;
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.filter-option {
    padding: 20px;
    border-bottom: 1px #333 solid;
    display: flex;
    justify-content: space-around;
}

.clear-filter-btn {
    background: #eee;
    color: #333;
}

.apply-filter-btn {
    background: #007bff;
    color: white;
}

.create-todo-dialog {
    z-index: 2;
    display: none;
    border-radius: 20px 20px 0 0;
    border: 1px #333 solid;
    width: 65%;
    background: white;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.create-todo-title {
    display: block;
    width: 100%;
    margin: 20px auto;
    font-weight: bold;
}

.create-todo-body {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-top: solid 1px #333;
}

.buttons > div {
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.save-btn {
    color: white;
    background: #007bff;
}

.discard-btn {
    color: white;
    background: #dc3545;
}

